$color-primary-light-1: aliceblue;
$color-primary-light: #0d3886;
$color-primary-dark: #002366;

$color-off-white: #fafafa;

$color-grey-dark: #555;
$color-grey-light: #777;

$shadow-color: rgba(0,0,0,0.6);

$color-green: #09d309;
$color-red: #ea0b0b;